<!doctype html>
<title>{% block title %} {% endblock %} - YouMail</title>
<link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
<!--fuentes google-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">

<nav>You<b>Mail</b></nav>
<section class="content">
    <div class="top-bar">
        <form method="get">
            <input name="search" type="text" placeholder="Buscar algo" />
        </form>
    <!--bloque para el boton-->
    {% block action %}{% endblock %}
    </div>
    <header>
    {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
